matplotlib>=3.3.3
scipy>=1.8.0
numba>=0.6.1
numpy>=2.1
pandas>=2.0
SimpleITK>=2.1.1
setuptools>=57.4.0
scikit-learn>=1.0.2
ssqueezepy>=0.6.3
pynufft>=2022.2.3
joblib>=1.1.0
scikit-image>=0.19.2
Pillow>=9.1.1
opencv-contrib-python>=4.3
parse>=1.2.0
parse-type>=0.6.4